body
{
    padding:0;
    background-color: grey;
}
form.box-form
{
    width: 500px;
    padding:40;
    text-align:center;
    background-color: rgb(123, 106, 143);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.login{color: white}
.box-form input[type = "text"],.box-form input[type = "email"],.box-form input[type = "password"]
{
    text-align: center;
    color: #000;
    border: 1px solid rgb(89, 218, 211);
    border-radius: 24px;
    padding: 14px 10px;
}
.box-form input[type = "submit"]
{
    background-color: rgb(64, 54, 94);
    text-align: center;
    color: white;
    border: 1px solid rgb(117, 89, 218);
    border-radius: 24px;
    padding: 14px 10px;
}
.box-form input[type = "text"]:hover,.box-form input[type = "email"]:hover,.box-form input[type = "password"]:hover
{
    text-align: center;
    color: #000;
    border: 1px solid rgb(89, 218, 211);
    border-radius: 24px;
    width: 200px;
}
.box-form input[type = "submit"]:hover
{
    background-color: rgb(6, 100, 34);
    text-align: center;
    color: white;
    border: 1px solid rgb(117, 89, 218);
    border-radius: 24px;
    width: 100px;
}